        html,
        body {
            font-family: Arial, sans-serif;
            /*  height: 100%;
            margin: 0;
            padding: 0;
         */
        }
        
        header {
            background-color: black;
            width: 100%;
            color: white;
        }
        
        .container {
            width: 100%;
            height: 900px;
            display: flex;
            justify-content: space-around;
            position: relative;
            margin: auto;
            overflow: hidden;
            border: 1pt solid red;
            /*  flex-flow: column wrap;
           flex-grow: 1;
           justify-content: center;
           flex-direction: column;*/
        }
        
        #menu {
            width: 100%;
            height: 100%;
            margin-left: 0;
            margin-right: 0;
            display: flex;
            /*  position: relative;
             margin: auto;
             overflow: hidden;*/
            flex-basis: 50%;
            background: lightblue;
            border-right: 1pt solid black;
        }
        
        #map {
            flex: 0 0 80%;
            margin-left: auto;
            position: relative;
            height: 800px;
        }
        
        .inSelect {
            width: 100%;
        }
        
        select {
            width: 100%;
            height: 40px;
        }
        
        h3 {
            color: white;
        }
        
        p {
            font-weight: 500;
            font-size: 1.2em;
        }
        
        #btn1 {
            width: 50px;
            height: 30px;
            color: #000;
            margin-right: 10px;
            background: grey;
        }
        
        #btn2 {
            width: 50px;
            height: 20px;
            color: #fff;
            background: black;
        }
        /*#map {
            posiiton: absolute;
            left:340px;
            right: 0;
            top: 0;
            bottom: 0;
            height: 800px;
        }*/