        html,
        body {
            font-family: Arial, sans-serif;
            /*  height: 100%;
            margin: 0;
            padding: 0;
         */
        }
        
        header {
            background-color: black;
            width: 100%;
            color: white;
        }
        /*   .container {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-around;
            position: relative;
            margin: auto;
            overflow: hidden;
            border: 1pt solid red;
            /*  flex-flow: column wrap;
           flex-grow: 1;
           justify-content: center;
           flex-direction: column;
        }*/
        
        #menu {
            width: 100%;
            height: 100%;
            margin-left: 0;
            margin-right: 0;
            display: flex;
            /*  position: relative;
             margin: auto;
             overflow: hidden;*/
            flex-basis: 50%;
            background: #787877;
            border-right: 1pt solid black;
        }
        
        #map {
            flex: 0 0 80%;
            margin-left: auto;
            position: relative;
            height: 800px;
        }
        
        .inSelect {
            width: 100%;
        }
        
        select {
            width: 100%;
            height: 40px;
        }
        
        h3 {
            color: white;
        }
        
        p {
            font-weight: 500;
            font-size: 1.2em;
        }
        
        a {
            text-decoration: none;
            margin-left: 0;
        }
        
        li {
            margin-left: 0;
            list-style-type: none;
        }
        
        #pixa {
            width: 30%;
            height: 20%;
        }
        
        #wiki {
            width: 30%;
            height: 10%;
        }
        /*#map {
            posiiton: absolute;
            left:340px;
            right: 0;
            top: 0;
            bottom: 0;
            height: 800px;
        }*/
